/* main page rules */
html, body {
    margin: 0;
    padding: 0;
}

/* font rules */
.center-text {
    text-align: center;
}

/* color rules */

.lightText {
    color: #fff;
}

.cats {
    width: 90%;
}

.darkBG {
    background-color: #ccc;
}

.darkerBG {
    background-color: #999;
}

.darkestBG {
    background-color: #777;
}

/* sizes */

.fluidwidth {
    width:100%;
    background-color: #222;
}

/* table */

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}

@media (max-width: 415px) {

    img {
        width: 100%;
    }

    blockquote {
        font-size:9px;
    }

    .img-cell {
        text-align: center;
    }
    
    .table > tbody > tr td {
        display: inline-block;
        width: 100%;
        clear:both;
        
    }
    .table > tbody > tr td input {
        width: 100%;
        font-size: 12pt;
    }

    th {
        display: none;
    }
}

@media (min-width: 416px) and (max-width: 768px) {

    .img-cell {
        text-align: center;
    }
    
    .table > tbody > tr td {
        display: block;
        width: 50%;
        float:left;
    }
    .table > tbody > tr td input {
        width: 50%;
        
    }

    th {
        display: none;
    }
}